include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/password_policy *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/password_policy/migration *.ini *.py *.mako
