{% ckan_extends %}

{% block form %}
  <form action="" method="post">
    {{ form.errors(error_summary) }}
    {% if user_dict['state'] == 'pending' %}
      <p>{{ _('You can also change username. It can not be modified later.') }}</p>
      {{ form.input("name", id="field-name", label=_("Username"), type="text", value=user_dict["name"],
         error='', attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"]) }}
    {% endif %}
    {{ form.input("password1", id="field-password", label=_("Password"), type="password", value='', error='', attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"]) }}
    {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", value='', error='', attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"]) }}
    <div class="info-block ">
      <i class="fa fa-info-circle"></i>
      {{ h.requirements_message(username=user_dict["name"]) }}
    </div>
    <div class="form-actions">
      {% block form_button %}
      <button class="btn btn-primary" type="submit" name="save">{{ _("Update Password") }}</button>
      {% endblock %}
    </div>
  </form>
{% endblock %}
